<%- include("../partials/html-head") %>
<%- include("../partials/nav"); %>
        <h1><%= thought.title %></h1>
        <form action="/thoughts/<%=thought._id%>?_method=PUT" method="POST">
            <fieldset>
            <legend>Thought Name and Point of Focus</legend>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= thought.title %>" />

            <label>Object:</label>
            <input type="text" name="object" id="object" value="<%= thought.object %>" />
            </fieldset>
            <label for="description">Description: </label>
            <textarea name="description" id="description"><%= thought.description %></textarea>
            
            <label for="image">Image Link:</label>
            <input type="text" name="image" id="image" value="<%= thought.image %>" />

            <button type="submit"><div>💡</div></button>
        </form>
    </body>
</html>